.app__chef_content{
    display: flex;
    flex-direction: column;
    width: 100px;
margin-top: 5rem;


}

.app__chef_content_quote
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}
.app__chef-sign{
    width: 100px;
    margin-top: 3rem;
}

.app__chef-sign p:first-child
{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;

}
